-r ./requirements.in

# Packaging
pur == 7.4.0
pip-tools==7.6.1

# Linting
pre-commit==4.6.2
black==26.5.1
ruff==0.16.3

# Testing
pytest-sugar==1.1.1
termcolor==3.3.0

# Debugging
django-debug-toolbar==7.1.1
django-extensions==4.1
