-r ./requirements.in

# Packaging
pur == 7.3.3
pip-tools==7.5.1

# Linting
pre-commit==4.4.0
black==25.11.0
ruff==0.14.4

# Testing
pytest-sugar==1.1.1
termcolor==3.2.0

# Debugging
django-debug-toolbar==6.1.0
django-extensions==4.1
